<header class="flex-space-box">
    <div class="logo">
        <a [routerLink]="['/plans-list']" >
            <img src="../../../assets/images/logo.svg">
        </a>
    </div>
    <div class="account-detail flex-space-box">
        <div class="users-box flex-space-box">
            <div class="user-thumb">
                <img src="../../../assets/images/user.jpg">
            </div>
            <div class="user-name">Williams White</div>
        </div>
        <div class="button-box">
            <button class="blue-button flex-space-box">Logout <img src="../../../assets/images/icon-logout.svg"></button>
        </div>
    </div>
</header>